body{
    background: rgb(38, 0, 43);
    font: 15pt normal verdana;
}

header{
color: rgba(255, 255, 255, 0.712);
text-align: center;
}

section{    
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
}

footer{
    color: rgba(255, 255, 255, 0.712);
    text-align: center;
}